@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

/*Início body*/
body {
    background-image: url(../assets/fundo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*Final body*/

.voltar img{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 50px;
}

h1 {
    font-size: 30px;
    color: #ffff;
}

/*Início container*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 633px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #0B3C5D;
    opacity: 93%;
    
}

.input-group {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 700px;
    height: 375px;
    color: #ffff;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 39%;
}

.esquerda {
    margin-right: 50px;
}

.direita {
    margin-left: 50px;
}

.input-box input {
    margin: 5px;
    padding: 8px;
    border: none;
    background-color: #fff;
}

::placeholder {
    color: rgba(156, 154, 154, 0.76) ;
}

.validarSenha {
    width: 700px;
}
/*Final container*/

/*Início botão*/
button:hover {
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.button button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 9px;
    color: #0B3C5D;
    background-color: #ffff ;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
    width: 145px;
    height: 45px;
}

.button a{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}

.button p{
    color: #ffff;
}
/*Final botão*/