html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    background-color: #ffff;
    opacity: 98%;
    border-bottom: 4px solid  #0098E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
}

img{
    height: 60px;
    width: auto;
}

h1{
    color: #0B3C5D;
    font-size: 20px;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
    width: 43.5%;
}

.navbar li{
    list-style: none;
    padding: 0 12px;

}

.navbar li a{
    text-decoration: none;
    color: #0B3C5D;
}

.navbar .botao{
    background-color: #0B3C5D;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .botao a{
    color: #ffff;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-size: cover;
    background-image: url(../assets/fundo.jpg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    width: 68%;
    height: 15%;
    opacity: 90%;
}

.container b{
    color: #0B3C5D;
    font-size: 50px
}

.instituicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 450px;
    background-size: cover;
    background-color: #0B3C5D;
}

.subtitulo1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 30%;
    background-color: #ffff;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
}

.subtitulo1 b{
    font-size: 30px;
    font-weight: bolder;
    color: #0B3C5D
}

.texto span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffff;
    margin-top: 50px;
    font-size: 20px;
}

.imagens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 36%;
    margin-top: 60px;
}

.ismart img{
    width: 100%;
    height: 60%;
}

.colegio img{
    width: 100%;
    height: 60%;
}

.cuja img{
    width: 100%;
    height: 60%;
}

.historia{
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-color: #ffff;
}

.historia .img-historia{
    width: 80%;
    padding: 50px;
}

.historia img {
    width: 26%;
    height: 100%;
    box-shadow: 2px 10px 10px;
    border-radius: 1%;
}

.subtitulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 19%;
    background-color: #0B3C5D;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
}

.subtitulo2 b{
    font-size: 30px;
    font-weight: bolder;
    color: #ffff
}

.sobre{
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-size: cover;
    background-color: #0B3C5D;
}

.subtitulo3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 23%;
    background-color: #ffff;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
}

.subtitulo3 b{
    font-size: 30px;
    font-weight: bolder;
    color: #0B3C5D
}

.texto-sobre{
    text-align: justify;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffffef;
    width: 50%;
    margin-top: 60px;
}

footer{
    background-size: cover;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0B3C5D;
}

footer .footer-1{
    display: flex;
    justify-content: center;
}

footer .footer-1 img{
    margin-top: 10px;
    width: 10%;
    height: 30px;
}

footer .footer-2 li{
    list-style: none;
}

footer .footer-2 li a{
    text-decoration: none;
    color: #0B3C5D;
}

footer .footer-3{
    width: 20%;
}

footer .footer-3 img{
    width: 40%;
    height: 40%;
    margin-left: 70px;
}
