body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffff;
    border-bottom: 4px solid  #0098E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo{
    display: flex;
    align-items: center;
}

img{
    height: 60px;
    width: auto;
}

h1{
    color: #0B3C5D;
    font-size: 20px;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar li{
    list-style: none;
    padding: 0 12px;

}

.navbar li a{
    text-decoration: none;
    color: #0B3C5D;
}

.navbar .botao{
    background-color: #0B3C5D;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .botao a{
    color: #ffff;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 570px;
    background-size: cover;
    background-image: url(../assets/fundo.jpg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    width: 68%;
    height: 15%;
    opacity: 0.8;
}

.container b{
    color: #0B3C5D;
    font-size: 50px
}

.instituicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 450px;
    background-size: cover;
    background-color: #0B3C5D;
}

.subtitulo1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 30%;
    background-color: #ffff;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
}

.subtitulo1 b{
    font-size: 30px;
    font-weight: bolder;
    color: #0B3C5D
}

.texto span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffff;
    margin-top: 50px;
    font-size: 20px;
}

.imagens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ismart {
    margin-top: 50px;
}

.historia{
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-size: cover;
    background-color: #ffff;

}

.subtitulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 20%;
    background-color: #0B3C5D;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
}

.subtitulo2 b{
    font-size: 30px;
    font-weight: bolder;
    color: #ffff
}

.sobre{
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-size: cover;
    background-color: #0B3C5D;
}

.subtitulo3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 23%;
    background-color: #ffff;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
}

.subtitulo3 b{
    font-size: 30px;
    font-weight: bolder;
    color: #0B3C5D
}

.footer{
    height: 150px;
    background-size: cover;
    background-color: #ffff;
}