body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color: #ffff;
    border-bottom: 3px solid  #0098E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.titulo{
    color: #0B3C5D;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar li{
    list-style: none;
    padding: 0 12px;
}

.navbar li a{
    text-decoration: none;
    color: #0B3C5D;
}
