html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

/*HEADER COMEÇO*/
header {
    position: fixed;
    background-color: #ffff;
    opacity: 98%;
    border-bottom: 4px solid  #0098E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
}

img{
    height: 60px;
    width: auto;
}

h1{
    color: #0B3C5D;
    font-size: 20px;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
    width: 43.5%;
}

.navbar li{
    list-style: none;
    padding: 0 12px;

}

.navbar li a{
    text-decoration: none;
    color: #0B3C5D;
}

.navbar .botao{
    background-color: #0B3C5D;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .botao a{
    color: #ffff;
}

/*HEADER FIM*/

/*PÁGINA PRINCIPAL COMEÇO*/
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-size: cover;
    background-image: url(../assets/fundo.jpg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    width: 68%;
    height: 15%;
    opacity: 90%;
}

.container b{
    color: #0B3C5D;
    font-size: 50px
}

/*PÁGINA PRINCIPAL FIM*/

/*INSTITUÇÕES COMEÇO*/
.instituicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 450px;
    background-size: cover;
    background-color: #0B3C5D;
}

.subtitulo1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 30%;
    background-color: #ffff;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
}

.subtitulo1 b{
    font-size: 30px;
    font-weight: bolder;
    color: #0B3C5D
}

.texto span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffff;
    margin-top: 50px;
    font-size: 20px;
}

.imagens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 36%;
    margin-top: 60px;
}

.ismart img{
    width: 100%;
    height: 60%;
}

.img1{
    transition: transform 0.3s;
    cursor: pointer;
}

.img1:hover {
    transform: scale(1.1);
}

.colegio img{
    width: 100%;
    height: 60%;
}

.img2{
    transition: transform 0.3s;
    cursor: pointer;
}

.img2:hover {
    transform: scale(1.1);
}

.cuja img{
    width: 100%;
    height: 60%;
}

.img3{
    transition: transform 0.3s;
    cursor: pointer;
}

.img3:hover {
    transform: scale(1.1);
}

/*INSITUIÇÕES FIM*/

/*HISTÓRIA COMEÇO*/
.historia{
    height: 530px;
    background-size: cover;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 19%;
    background-color: #0B3C5D;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitulo2 b{
    font-size: 30px;
    font-weight: bolder;
    color: #ffff
}

.content-historia{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
}

.historia .img-historia{
    width: 100%;
}

.historia img { 
    width: 100%;
    height: auto;
    box-shadow: 2px 10px 10px;
    border-radius: 1%;
}

.texto-historia {
    display: flex;
    text-align: justify;
}

.texto-historia span{
    color: #0B3C5D;
}

/*HISTÓRIA FIM*/

/*SOBRE COMEÇO*/
.sobre{
    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-color: #0B3C5D;
}

.subtitulo3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 23%;
    background-color: #ffff;
    box-shadow: 2px 10px 28px;
    margin-top: 50px;
}

.subtitulo3 b{
    font-size: 30px;
    font-weight: bolder;
    color: #0B3C5D
}

.texto-sobre{
    text-align: justify;
    font-size: 17.3px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffffef;
    width: 50%;
    margin-top: 5%;
}

/*SOBRE FIM*/

/*FOOTER COMEÇO*/
footer{
    background-size: cover;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    color: #0B3C5D;
}

footer .footer-1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .footer-1 img{
    margin-top: 10px;
    height: 7vh;
}

footer .footer-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-2 li{
    display: flex;
    justify-content: start;
    list-style: none;
}

footer .footer-2 li a{
    text-decoration: none;
    color: #0B3C5D;
}

footer .footer-3{
    display: flex;
    align-items: center;
}

footer .footer-3 img{
    height: 100px;
}

/*FOOTER FIM*/