body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo{
    display: flex;
    align-items: center;
}

img{
    height: 60px;
    width: auto;
}

h1{
    color: #0B3C5D;
    font-size: 20px;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 50px;
}

.navbar li{
    list-style: none;
    padding: 0 12px;

}

.navbar li a{
    text-decoration: none;
    color: #0B3C5D;
}

.navbar .botao{
    background-color: #0B3C5D;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .botao a{
    color: #ffff;
}

.container{
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #0B3C5D;
    padding: 20px;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.container .logo-ismart img{
    height: 130px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0098E4;
    font-size: 30px;
    font-weight: bold;
    opacity: 98%;
    color: #0B3C5D;
}

.container .texto-ismart{
    text-align: justify;
    color: #ffff;
    padding: 50px;
    font-size: 18px;
}

.conteudo{
    margin-top: 40px;
}

.conteudo a{
    background-color: #0098E4;
    padding: 5px;
    color: #0B3C5D;
    text-decoration: none;
}

.publico-alvo{
    padding: 20px;
    background-color: #ffff;
    color: #0B3C5D;
    border: #0098E4 solid 5px;
    display: flex;
    justify-content: center;
}

/*CARROSSEL DE FOTOS*/
#carrossel {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative; 
    background-color: #0B3C5D;
}

#carrossel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#carrossel img.active {
    opacity: 1;
}

.experiencia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#0B3C5D;
    background-size: cover;
}

.h2{
    display: flex;
    justify-content: center;
    color: #0B3C5D;
    font-size: 30px;
}

.texto-experiencia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin-top: 40px;
    padding: 20px 60px;
    background-color: #0B3C5D;
    border: #0098E4 solid 5px;
    color: #ffff;
    font-size: 17.5px;
}