
*{
    margin:0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    background-image: url(../assets/fundo.jpg);
    background-size: cover;
    background-position: center;
} 

main{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    background-color: #0B3C5D;
    opacity: 93%;
}

.voltar a{
    color: #ffff;
    text-decoration: none;
}

.titulo h1 {
    margin-bottom: 30px;
    font-size: 28px;
    margin-top: 10%;
    text-align: center;
    color: #ffff;
}

.input_box {
    margin-bottom: 50px;
    position: relative;
    height: 50px;
    color: #ffff;

}

.input_box input {
    width: 100%;
    height: 100%;
    background-color: #ffff;
    border: 2px solid white ;
    font-size: 16px;
    padding: 20px 45px 20px 40px;
}

.input_box i {
    position: absolute;
    left: 15px;
    font-size: 20px;
    top: 65%;
    color: #0B3C5D;
}

.login{
    width: 145px;
    height: 45px;
    background-color: #ffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #0B3C5D;
    font-weight: bold;
}

.botao{
    display: flex;
    justify-content: center;
    width: 100%;
}
.registre {
    font-size: 16px;
    text-align:  center;
    margin:  20px 0px 15px;
    color: #ffff;
}

.registre a {
    text-decoration: none;
    color:#ffff;
    font-weight: bold;
}
