
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px; 
    width: 100%;
}

h1{
    color: #0B3C5D;
    font-size: 20px;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    background-image: url(../assets/fundo.jpg);
    background-size: cover;
    background-position: center;
} 

.container {
    display: flex;
    width: 420px;
    padding: 30px 40px;
    background-color: #0B3C5D;
    opacity: 90%;
}

.container h1 {
    font-size: 28px;
    margin: 20px 0px 0px 0px;
    text-align: center;
    color: #ffff;
}

.voltar{
    color: #ffff;
    text-decoration: none;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 50px 0;
    color: #ffff;

}

.input_box input {
    width: 100%;
    height: 100%;
    background-color: #ffff;
    border: 2px solid white ;
    outline: none;
    font-size: 16px;
    padding: 20px 45px 20px 40px;
}

.input_box i {
    position: absolute;
    left: 15px;
    font-size: 20px;
    top: 73%;
    color: #0B3C5D;
}

.login{
    display: flex;
    margin: 60px 30px 30px 80px;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 45px;
    background-color: #ffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #0B3C5D;
    font-weight: 600;
}

.registre {
    font-size: 16px;
    text-align:  center;
    margin:  20px 0px 15px;
    color: #ffff;
}

.registre a {
    text-decoration: none;
    color:#ffff;
    font-weight: bold;
}
