/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.dash-right .avisos {
  width: 100%;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #0098E4;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #0098E4;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #0B3C5D;
  width: 90px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #0098E4;
  padding: 20px;
  color: #0B3C5D;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #ffff;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */
.dash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  height: auto;
  background-color: #ffff;
  padding-left: 380px;
  gap: 50px
}

.dash h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.graficos{
  display: flex;
  flex-direction: column;
  gap: 30px
}

.graficos canvas{
  width: 100% !important;
  background: #ffff;
}

.graficos-redondos{
  display: flex;
  flex-direction: row;
}

#idadeChart{
  height: 250px !important;
}

#escolaChart{
  height: 250px !important;
  width: 250px !important;
}

#instituicaoChart{
    height: 250px !important;
    width: 250px !important;
}

.kpi{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 50px
}

.kpi .card-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0B3C5D;
  color: #ffff;
}

.kpi .card-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0098E4;
  color: #ffff;
}

/* PAGINA DOS GRÁFICOS 2023 */

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #0098E4;
  background-color: #0B3C5D;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #0B3C5D;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  display: flex;
  justify-content: center;
  background-color: #ffff;
  color: #0B3C5D;
  width: 60%;
}

.hello {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello h3 {
  color: #ffff;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #0098E4;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #0098E4;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  color: white;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}